.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

.grid-item {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
